include *.csv
recursive-include ./findata/*

include ./findata/data/company_list.csv
include ./findata/VERSION

include ./requirements.txt
include ./LICENSE
include ./README.md
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
