<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Friendly Reminder:</h5>
        <p class="grey-text text-lighten-4">Always here to help you decide better. In a world of fomo we have decided that technology should be here to help not control. So our tool just provide the help you require, as a companion. Decide wisely for your future goals.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://huggingface.co/spaces/runaksh/Finance_Summary" target="_blank">News summarization with T5 (huggingface) </a></li>
          <li><a class="grey-text text-lighten-3" href="https://huggingface.co/spaces/runaksh/Financial_Sentiment_BERT_Classification" target="_blank">BERT: News Sentiment (huggingface)</a></li>
          <li><a class="grey-text text-lighten-3" href="../docs" target="_blank">API Docs</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2023 Copyright AIMLOps Batch 1 Group 6
    <a class="grey-text text-lighten-4 right" href="https://github.com/AIMLOPs-IISc/FinSmart" target="_blank">[ Github ]</a>
    <a class="grey-text text-lighten-4 right" href="https://drive.google.com/drive/folders/1B6rMzAktMfW1oCbcNi6RNA3VNwNq4-3u" target="_blank">[ Colaboratory ]</a>
    </div>
  </div>
</footer>


<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="{{ url_for('static', path='/js/materialize.js') }}"></script>
