# Data
requests
urllib3==1.26.6
pandas
numpy
# Web app
fastapi
uvicorn
jinja2
#news
GoogleNews
#ML
transformers[torch]
evaluate
torch
datasets
scikit-learn
#Local Libraries
findata-1.0.7-py3-none-any.whl
finbert-1.0.7-py3-none-any.whl