# Data
requests
urllib3==1.26.6
pandas
numpy
openpyxl
# Web app
fastapi
uvicorn
jinja2
#news
GoogleNews
#ML
transformers[torch]
evaluate
torch
datasets
scikit-learn
#watch
prometheus-client
#Local Libraries
findata-1.0.15-py3-none-any.whl
finbert-1.0.9-py3-none-any.whl
xgbpred-1.0.15-py3-none-any.whl
t5summ-1.0.23-py3-none-any.whl